p, body {
    margin: 0 0;
    padding: 0 0;
    overflow: hidden;
}

body {
    text-align: justify;
    margin: 0 0;
    padding: 0 0;
    font-family: "Orator Std", Verdana;
}
ul {
	list-style-image: url('/static/green-circle.png');
}
@font-face {
    font-family: 'OldScriptRegular';
    src: url('/static/old-script.eot');
    src: url('/static/old-script.eot?#iefix') format('embedded-opentype'),
         url('/static/old-script.woff') format('woff'),
         url('/static/old-script.ttf') format('truetype'),
         url('/static/old-script.svg#OldScriptRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OratorStdMedium';
    src: url('/static/orator.eot');
    src: url('/static/orator.eot?#iefix') format('embedded-opentype'),
         url('/static/orator.woff') format('woff'),
         url('/static/orator.ttf') format('truetype'),
         url('/static/orator.svg#OratorStdMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OratorStdSlanted';
    src: url('/static/orator-slanted.eot');
    src: url('/static/orator-slanted.eot?#iefix') format('embedded-opentype'),
         url('/static/orator-slanted.woff') format('woff'),
         url('/static/orator-slanted.ttf') format('truetype'),
         url('/static/orator-slanted.svg#OratorStdSlanted') format('svg');
    font-weight: normal;
    font-style: normal;

}

@-webkit-keyframes STAR-MOVE {
    from {
            background-position: 5% 5%
    }
    to {
            background-position: 1300% 600%
    }
}

@-webkit-keyframes textgrow {
  0% { font-size: 1px; }
  100% { font-size: 100px;  color:#fff; }
}

@-webkit-keyframes grow {
  0% { width: 1px; }
  100% { width: 475px; }
}

@-webkit-keyframes pulsate {
  0% { 
    -moz-text-shadow: 1px 1px 7px #fff;
    -webkit-text-shadow: 1px 1px 7px #fff;
    text-shadow: 1px 1px 7px #fff; }
  50% { 
    -moz-text-shadow: 1px 1px 35px #ccc;
    -webkit-text-shadow: 1px 1px 35px #ccc;
    text-shadow: 1px 1px 35px #ccc; }
  100% { 
    -moz-text-shadow: 1px 1px 7px #fff;
    -webkit-text-shadow: 1px 1px 7px #fff;
    text-shadow: 1px 1px 7px #fff; }
}
 
.css3_pulsate {
  -webkit-animation-name: pulsate;
  -webkit-animation-duration: 7s;
  -webkit-animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
}
 
.css3_textgrow {
  -webkit-animation-name: textgrow;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
}
 
.css3_grow {
  -webkit-animation-name: grow;
  -webkit-animation-duration: 3s;
  -webkit-animation-timing-function: ease;
}

.oldscript
{
    font-family: 'OldScriptRegular';
    font-size: 37px;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

/*
 * BACKGROUND
*/

#background
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -32;
}
#backgroundevents
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -32;
}
#backgroundsecurity
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -32;
}
#backgroundlimousine
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -32;
}
#backgroundlife-style
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -32;
}
#backgroundContent
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -22;
}

#backgroundMotto
{
    position: absolute;
    bottom: 13px;
    width: 100%;
    z-index: 3;
    font-family: 'OldScriptRegular';
    color: #ffffff;
    font-size: 100px;
    text-align: center;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

/*
 * MENU
*/


#menu
{
}

#menuWrapper
{
    position: fixed;
    top: 0;
    z-index: 10; 
    text-align: left;
    font-weight: 400;
    font-family: 'Jura', impact;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
   letter-spacing: 1px;
    word-spacing: 0.1em;
    line-height: 0.91;
    font-size: 22px;
    padding: 5px 0 7px 30px; 
    width: 100%;
float: left;
    background-color: #000;
    box-shadow: 1px 1px 30px #444,1px 1px 30px #444,2px 2px 30px #444;
/*background-image: url('http://www.burkedecor.com/v/vspfiles/photos/GB57213-2.jpg');*/
background: -moz-linear-gradient(100% 100% 90deg, #444, #000);
background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#000), to(#444));
background: -webkit-linear-gradient(#444, #000);
background: -o-linear-gradient(#444, #000);
}

#menuWrapper dl dd,
#menuWrapper dl
{
    padding: 0;
    margin: 0;
}

#menuWrapper dl dd
{
    display: inline;
    padding-right: 15px;
}

#menu a, #menu a:active, #menu a:focus, #menu a:visited, #fixedMenuWrapper a, #fixedMenuWrapper a:active, #fixedMenuWrapper a:focus, #fixedMenuWrapper a:visited
{
    /* filter:alpha(opacity=80);
    -moz-opacity: 0.75;
    opacity: 0.75; */

    -moz-text-shadow: 1px 1px 1px #aaa, 1px 1px 1px #aaa;
    -webkit-text-shadow: 1px 1px 1px #aaa, 1px 1px 1px #aaa;
    text-shadow: 1px 1px 1px #aaa, 1px 1px 1px #aaa;

    text-decoration: none;
    color: #cccccc;
}

#menu a:hover, #fixedMenuWrapper a:hover
{
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
    text-decoration: none;
    color: #ffffff;
}

#fixedMenuWrapper
{
position: fixed;
right: 50px;
top: 0px;
padding: 0;
margin: 0;
width: 15%;
padding-top: 10px;
z-index: 100;
}

#fixedMenuWrapper dl,
#fixedMenuWrapper dl dd
{
text-align: center;
padding: 0;
margin: 0;
    font-weight: 400;
    font-family: 'Jura', impact;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
   letter-spacing: 1px;
    word-spacing: 0.1em;
    line-height: 0.91;
    font-size: 20px;
}

#fixedMenuWrapper a {
    filter:alpha(opacity=100);
    -moz-opacity: 1.0;
    opacity: 1.0;
}

/*
 * CONTENUTI
*/

#contents
{
    margin-top: 30px;
    position: absolute;
    float: left;
    display: block;
    width: 83%;
}

.content
{
min-height: 2500px;
padding-top: 70px;
}

.content h2
{
    color: #f40000;
    -moz-text-shadow: 0px 0px 7px #ff0000;
    -webkit-text-shadow: 0px 0px 7px #ff0000;
    text-shadow: 0px 0px 7px #ff0000;
}

.contentTitle
{
    color: #eee;
    font-size: 70px;
    width: 83%;
    font-family: 'OldScriptRegular';
    margin: 10px auto -33px auto;
    -moz-text-shadow: 0px 0px 7px #330000;
    -webkit-text-shadow: 0px 0px 7px #330000;
    text-shadow: 0px 0px 7px #330000;
}

.contentText
{

    text-align: justify;
    font-weight: 400;
    text-shadow: 1px 1px 5px #770000;
    text-decoration: none;
    text-transform: none;
    -moz-text-shadow: 1px 1px 1px #ccc;
    -webkit-text-shadow: 1px 1px 1px #ccc;
    text-shadow: 1px 1px 1px #ccc;

    line-height: 1.0;
    font-size: 16px;
    font-family: 'tahoma';
    color: #eee;

    padding: 16px;
    width: 83%;
    margin: 1px auto 10px auto;

    background-color: #000000;
    border: 12px solid white;


    -moz-border-radius: 35px;
    border-radius: 35px;

    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    margin-bottom: 350px;
}

.contentFooter, .contentFooter a, .contentFooter a:visited, .contentFooter a:hover, .contentFooter a:active
{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    text-align: right;
    width: 83%;
    font-weight: bold;
    margin: -46px auto 0px auto;
    -moz-text-shadow: 0px 0px 7px #fff;
    -webkit-text-shadow: 0px 0px 7px #fff;
    text-shadow: 0px 0px 7px #fff;
}

.left-to-text
{
    width: 200px;
    float:left;
    margin-right: 15px;
    border: 3px solid #ffffff;
}

.left
{
    float:left;
    padding-right: 15px;
}

#home
{
    margin-top: 50px;
}

#news dd
{
    margin-bottom: 20px;
    position: relative;
    left: -10px;
}

#sound_manager
{
    position: fixed;
    top: 16px;
    right: 30px;
    font-family: "OratorSTD", Verdana;
    font-size: 11px;
    color: #ffffff;
    -moz-text-shadow: 1px 1px 1px #ccc;
    -webkit-text-shadow: 1px 1px 1px #ccc;
    text-shadow: 1px 1px 2px #ccc;
}

#sound_manager img
{
vertical-align: middle;
}

#news dt
{
    padding-bottom: 3px;
    font-size:10px;
    position:relative;
    color: #ccc;
    font-weight: bold;
}

/*
 * FOOTER
*/
#footer
{
    z-index: 300;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 3px;
    font-family: "OratorSTD", Verdana;
    font-size: 11px;
    color: #ffffff;
    clear: both;
    -moz-text-shadow: 1px 1px 1px #ccc;
    -webkit-text-shadow: 1px 1px 1px #ccc;
    text-shadow: 1px 1px 2px #ccc;
}
#subFooter
{
    display: inline;
    float: right;
    font-family: "OratorSTD", Verdana;
    font-size: 10px;
    padding-right: 20px;
    line-height: 15px;
    color: #bbbbbb;
    -moz-text-shadow: -1px 1px 1px #777;
    -webkit-text-shadow: -1px 1px 1px #777;
    text-shadow: -1px 1px 2px #777;
}
