body,html,h2
{
padding: 0;
margin: 0;
    font-family: 'Jura', sans-serif;
}

h2,ul
{
margin: 0;
    font-family: 'Jura', sans-serif;
    color: #777;
    background-image: url('/static/bg3.png');
}

#not_registered
{
height: 98%;
width: 500px;
background-color: #eee;
position:absolute;
left: 10px;
top: 7px;
padding-top: 10px;
z-index:300;
text-align: center;
font-size: 17px;
opacity: 0.8;
filter:alpha(opacity=80);
-moz-opacity: 0.80;
    -moz-text-shadow: 1px 1px 22px #ccc;
    -webkit-text-shadow: 1px 1px 21px #ccc;
    text-shadow: 1px 1px 1px #ccc;
}

/* TWITTER */

#header
{
background-image: url('/static/bg.jpg');
background-repeat: repeat-x;
padding: 5px 10px 0px 10px;
height: 77px;
}

#credits
{
text-align: center;
font-size: 14px;
}

#twitter
{
background-color: #dddddd;
padding: 10px 30px;
}

dt,
a,
a:hover,
a:active,
a:visited
{
font-family: 'Jura', sans-serif;
color: #11aaf3;
font-size: 24px;
    -moz-text-shadow: 1px 1px 22px #ccc;
    -webkit-text-shadow: 1px 1px 21px #ccc;
    text-shadow: 1px 1px 1px #333;
width: 440px;
text-align: justify;
}

a,
a:hover,
a:active,
a:visited
{
    text-decoration: none;
    color: #11ccf3;
}

dd
{
    font-family: 'Terminal Dosis Light', sans-serif;
    color: #777;
font-size: 18px;
    -moz-text-shadow: 1px 1px 1px #fff;
    -webkit-text-shadow: 1px 1px 1px #fff;
    text-shadow: 1px 1px 1px #fff;
}

hr
{
height: 1px;
border: none;
border-top: 1px solid #fff;
margin: 10px 0 40px 0;
}


/* WELCOME */

#main-welcome
{
    background-image: url('/static/bg2.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-color: #e3e3e3;
}

#head
{
text-align: center;
}

#subhead
{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    color: #777;
    -moz-text-shadow: 1px 1px 1px #ccc;
    -webkit-text-shadow: 1px 1px 1px #ccc;
    text-shadow: 1px 1px 1px #ccc;
    text-align: justify;
}

#contents
{
text-align: justify;
padding: 10px;
}

.content
{
opacity: 0.8;
filter:alpha(opacity=80);
-moz-opacity: 0.80;
}

.content h3
{
    padding: 7px;
    margin:0;
    margin-top: 5px;
    font-family: 'Terminal Dosis Light', sans-serif;
	opacity: 1;
	filter:alpha(opacity=100);
	-moz-opacity: 1.00;
    color: #11aaf3;
    font-size: 28px;
    background-image: url('/static/bg3.png');
    cursor: pointer;
}

.content p
{
    font-family: 'Jura', sans-serif;
    font-size: 14px;
    color: #777;
    -moz-text-shadow: 1px 1px 1px #ccc;
    -webkit-text-shadow: 1px 1px 1px #ccc;
    text-shadow: 1px 1px 1px #ccc;
    padding:5px 30px;
    margin:0;
    background-image: url('/static/bg3.png');
}

.content p span
{
    position:relative;
    bottom:3px;
    left:380px;
}
