﻿{% extends 'shared.html' %}
{% block head %}
        <meta name="title"          content="Maurizio Gregorini - Facebook Fan Page" /> 
        <meta name="description"    content="Maurizio Gregorini per Genova" /> 
		<title>Maurizio Gregorini per Genova</title> 
{% endblock %}

{% block body %}
        <img id="background" src="/static/bg.jpg" alt="-" />
        <img id="backgroundContent" src="/static/light.png" alt="-" />
        <div id="">
	       <div class="" id="home">
	           <div class="" style="text-align:center;">Maurizio Gregorini per Genova<br />
	           		<a href="http://www.facebook.com/pages/Maurizio-Gregorini/123961947693047" title="Facebook"><img class="css3_grow" src="/static/riprendiamoci_genova_big.png" alt="-" /></a><br />
	           </div>
	       </div>
        </div>
        <div id="footer">
        	<p id="subFooter" style="clear:both;text-align:center;width:100%;padding-bottom: 50px;font-size:14px; color:#aaa;font-weight:bold;">Powered by GBC and developed by <a style="color: #888;text-decoration:none;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a></p>
        </div>
{% endblock %}