<?xml version='1.0' encoding='utf-8' ?>
{%spaceless%}<!DOCTYPE html
	 PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN'
	 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'> 

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml" lang="en"> 
	<head> 
        <title>{% block title %}Welcome!{% endblock %} - Maurizio Gregorini - Facebook Fan Page</title>
		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
		<meta name="keywords"       content="" /> 
		<meta name="robots"         content="index,follow" /> 
		<meta name="date"           content="27May2010" /> 
		<meta name="revisit-after"  content="30 Days" /> 
		<meta name="subject"        content="Maurizio Gregorini - Facebook Fan Page" />
		<meta name="author"         content="Filippo Baruffaldi" /> 
		<meta name="publisher"      content="Filippo Baruffaldi" /> 
		<meta name="reply-to"       content="filippo@baruffaldi.info" /> 
		<link rev="made"            href="mailto:filippo@baruffaldi.info" /> 
		<link rel="shortcut icon"   href="/static/logo.png" type="image/png" />
        <link rel="stylesheet"   href="/static/style.facebook.css" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Jura|Terminal+Dosis+Light&v2' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="http://www.google.com/jsapi"></script>
        <script type="text/javascript">google.load('jquery', '1');google.load('jqueryui', '1');</script>
		<script type="text/javascript"> 
{%endspaceless%}
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");

			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
{%spaceless%}
		</script>
		<script type="text/javascript"> 
{%endspaceless%}
			var pageTracker = {};
			try {
				pageTracker = _gat._getTracker("UA-22894000-3");
			} catch(err) {}
{%spaceless%}
		</script>
{% block head %}{% endblock %}
    <body>
		<div id="not_registered">
			<img src="/static/like.png" alt="Clicca qui!!" /><br />
			Clicca su Mi Piace per accedere a tutte le aree della pagina!
		</div>
{% block body %}{% endblock %}
		<script type="text/javascript"> 
{%endspaceless%}
			try {
				pageTracker._trackPageview();
			} catch(err) {}
{%spaceless%}
		</script>
		<fb:visible-to-connection>
			<script type="text/javascript"> 
				$("#not_registered").hide();
			</script>
		</fb:visible-to-connection>
    </body>
</html>{%endspaceless%}