{% extends 'shared.html' %}

{% block title %}Welcome!{% endblock %}

{% block head %}
        <meta name="title"          content="Maurizio Gregorini - Facebook Fan Page" /> 
        <meta name="description"    content="Maurizio Gregorini per Genova" /> 
{% endblock %}

{% block body %}
	<div id="main-welcome">
		<div id="head">
			<img src="/static/riprendiamoci_genova_big.png" alt="Riprendiamoci Genova!" />
		</div>
		<div id="subhead">
<p>Maurizio è un vincente e possiede l’adeguata professionalità insieme con la dirompente energia per incidere profondamente sui settori della cultura, del turismo, dello spettacolo, della didattica, dell’immagine cittadina, dell’organizzazione e del rilancio politico e morale di Genova.</p>
		</div>
		<div id="contents">
			<div class="content">
				<h3>Una strategia Vincente!</h3>
				<div>
					<p>Maurizio è convinto che Genova possa ritrovare la strada per riemergere coltivando 4 vocazioni essenziali che ritroviamo nella sua storia e nella sua cultura:</p>
					
					<ul>
					<li>LOGISTICA E TRASPORTI</li>
					<li>CULTURA E TURISMO</li>
					<li>INNOVAZIONE E ALTA TECNOLOGIA</li>
					<li>APERTURA E INTERNAZIONALIZZAZIONE</li>
					</ul>
					
					<p>Maurizio crede anche che Genova necessiti di una riforma morale nel senso più ampio del termine e individua i seguenti 6 obiettivi per raggiungere il successo su questo versante:</p> 
					
					<ul>
					<li>RESPONSABILIZZAZIONE  DEL CITTADINO</li>
					<li>RIFORMA MORALE DELLA CITTADINANZA E DELLA CLASSE DIRIGENTE</li>
					<li>ACCULTURAZIONE GENERALE</li>
					<li>POTENZIAMENTO DEI LEGAMI COMUNITARI</li>
					<li>SICUREZZA TOTALE PER IL CITTADINO</li>
					<li>ELABORAZIONE DI UN NUOVO CONCETTO DI ECONOMIA</li>
					</ul>
					
					<p>Il nostro programma è dunque studiato per incentivare le suddette quattro vocazioni della città e raggiungere i 6 obiettivi di riforma citati</p>
					
					<p>Maurizio sostiene che solo una ribellione intelligente, proveniente dal popolo e dalle città, possa scardinare lo status quo, travolgere la partitocrazia e avviare una grande trasformazione del paese.</p>

					<p><span><a class="close" style="font-size:16px" href="#" title="Chiudi">Chiudi</a></span></p>
				</div>
			</div>
			<div class="content">
				<h3>Curriculum Politico</h3>
				<div><p>
					Nel 2008 entra a far parte della squadra del Senatore e Consigliere Comunale del PDL Enrico Musso, in veste di Assessore ombra per le politiche giovanili al Comune di Genova;  partecipa alle commissioni specifiche e contribuisce all’attività editorialistica del senatore.<br />
					<br />Nel 2008 fonda l’associazione “Merito” di cui è presidente, attivissima nel settote meta politico e culturale.<br />
					<br />Nel 2009 fonda la Consulta delle associazioni del centrodestra, di cui è presidente, che riunisce 10 associazioni e rappresenta alcune centinaia di persone.<br />
					<br />Sempre nel 2009 fonda e dirige la rivista di cultura politica internet, denominata “Il Culturista”.<br />
					<br />Nel 2010 è fra i soci fondatori della Fondazione Oltremare del senatore Musso fra i principali promotori del movimento culturale e politico Gente Comune.<br />
					<br />Nel 2011 scrive ed edita con le ediz. de Il Culturista, il libello “Una rivoluzione intelligente”, contenente una proposta sociale e  politica innovativa.
					</p>
					<p><span><a class="close" style="font-size:16px" href="#" title="Chiudi">Chiudi</a></span></p>
				</div>
			</div>
			<div class="content">
				<h3>Curriculum Professionale</h3>
				<div><p>Studi Effettuati:</p>
					<ul> 
					<li>Liceo Classico</li>
					<li>Scuola di Regia biennale “Laboratorio Cinema” Roma</li>
					<li>Storia e critica cinematografica all’Università Sapienza di Roma (come uditore)</li>
					</ul>
					<p>
					<br />Anni ’80: nella prima metà della decade è direttore creativo e responsabile grafica di una importante catena di locali di intrattenimento. E’ anche titolare dell’agenzia di grafica “l’Arcimboldo”. Pubblica altresì la sua prima raccolta di poesie, “Eretica, erotica, eroica” presso Cultura Duemila Editrice<br />
					<br />Nella seconda metà degli anni ’80, dopo aver frequentato la scuola di regìa a Roma, realizza una quindicina tra documentari e spot. Con il filmaker Matteo Ricchetti fonda il gruppo “Le Fibre Ottiche”; vince il 2° premio al New York Film Festival nella sez. videoarte, e il 1° premio ex aequo al Filmaker festival di Milano.<br />
					<br />Anni ’90: Si trasferisce a Milano e lavora dapprima come assistente alla regìa televisivo presso Rete 4 Mediaset. In seguito come regista esterne ai programmi “Buon Pomeriggio”, “Buongiorno Italia”(Rete4) “Target” e “Ciro il figlio di Target” (Canale 5).<br />
					<br />Poi torna ad essere free lance e lavora per svariate case di produzione: Realizza come regista spot pubblicitari, documentari, videoclip. Scrive, produce e gira da indipendente il lungometraggio sperimentale “Finzione” (pellicola B& N).<br />
					<br />Verso la metà di quegli anni fa di nuovo ritorno a Genova per fondare la “Scuola d’Arte Cinematografica” che dirige ancora a tutt’oggi.<br />
					<br />Gli vengono conferiti i premi “Telequalità” per l’attività TV e “Lumière” per la didattica nel cinema”.<br />
					<br />Come sceneggiatore scrive a quattro mani con Mauro Graiani il mediometraggio “Fede Cieca” che vince il premio Cult.<br />
					<br />Scrive con Paolo Calissano e Mauro Graiani la prima bibbia della fiction TV “Guardia Costiera” ( poi “Gente di mare”) per Palomar Produzioni. Elabora diversi soggetti per la fiction e per il cinema (LuxVide, Seven Hills etc).<br />
					<br />Anni 2000: dà alle stampe la sua seconda raccolta di poesie “Zucchero e Veleno”, illustrata da Luigi Maio e pubblicata da Liberodiscrivere.<br />
					<br />Concretizza gli interessi per la fotografia realizzando reportage assortiti e mostre insieme alla moglie fotografa Sabrina Losso: “Il G8 di Genova”, “Bahia, il cuore nero del Brasile”.<br />
					<br />Fonda e dirige con Sabrina Losso la galleria d’arte fotografica “Lebowski”.<br />
					<br />Coproduce il film di Giuseppe Ferrara “Guido che sfidò le Brigate Rosse” e gira, scrive, dirige l’opera di videoarte “Estetica della Rivolta”.<br />
					<br />Con la Scuola d’Arte Cinematografica (www.sdac.it) produce circa 100 cortometraggi in video e in pellicola, alcuni dei quali vincono prestigiosi premi.<br />
					<br />Nell’ anno 2006 rileva la casa di produzione documentaristica Videodarte (www.videodarte.it)<br />
					<br />Agli inizi del 2009 è per un anno Presidente dell’Associazione dei Professionisti dell’Audiovisivo della Liguria (PAL).<br />
					<br />
					<br />Nel 2007 realizza alcuni documentari e alcune mostre di fotografia proprie e altrui. Prosegue la sua attività professionale come documentarista e fotografo.<br />
					<br />Nel 2009 scrive conduce e produce il programma Tv “I Dialoghi selvatici”.  Organizza seminari e rassegne cinematografiche. Tiene lezioni di cinema presso alcune scuole superiori, presso la facoltà di Scienze politiche e quella di Scienze della Formazione dell’Università di Genova<br />
					<br />Nel 2010 prosegue la sua attività professionale come documentarista e fotografo, mentre segue la Scuola d’Arte Cinematografica.<br />
					<br />Nel 2011 Prosegue l’attività professionale e didattica e produce il programma TV “Quartieri”.
										</p>
					<p><span><a class="close" style="font-size:16px" href="#" title="Chiudi">Chiudi</a></span></p>
				</div>
			</div>
			<div class="content">
				<h3>Appello ai miei Concittadini</h3>
				<div>
				<p>"<i>L'avvenire è qualcosa che si domina. Non si subisce l'avvenire, lo si fa.</i>"</p>
				<p>Georges Bernanos</p>
				
				<!-- <h2>PROCLAMA</h2> -->
				
				<p>E’ giunto il tempo che tutti gli uomini e le donne, onesti e di buona volontà,  prendano in mano le proprie vite.</p> 
				<p>E’ l’ora di passare all’azione, mettendo in campo nuove energie e forme di convivenza.</p>
				<p>Dobbiamo ritrovare il senso del vivere comune, apparentemente distrutto dalle mai sopite distorsioni ideologiche, dal potere degenerato e dalla rapidità disordinata del progresso tecnologico.</p> 
				
				<p>Guardiamo in faccia la realtà. Fino ad oggi abbiamo nascosto la testa sotto la sabbia come struzzi codardi, fingendo di non accorgerci dei problemi gravissimi che affliggono il nostro stare insieme, la nostra società decadente, individualista, egoista, ideologica.</p> 
				
				<p>Ogni giorno ci troviamo a lottare contro l’indifferenza e la solitudine, l’alienazione e l’imbroglio. Ciascuno pensa solo a sé stesso e al proprio bene, lavandosene le mani del prossimo, cioè di colui che più gli è vicino, con cui dovrebbe condividere spazi e cultura, costumi e consuetudini. Ogni forma di legame comune è stata distrutta, ogni solido riferimento di gruppo è stato relegato in un angolo a discapito di ingannevoli astrazioni universalistiche.</p>
				
				<p>La maggioranza fra i politici delle ultime generazioni e le attuali classi dirigenti (intellettuali, artisti, industriali, banchieri etc.) ci hanno traditi in nome di un sistema saturo e mal funzionante, che non è più in grado nemmeno di riformare se stesso.</p> 
				
				<p>Qualcuno ancora si illude che l’Italia possa cambiare nelle mani di uomini profondamente radicati in un sistema malato?</p>
				<p>Costoro spacciano per democrazia quella che è ormai diventata un’oligarchia a tutti gli effetti, un cortile riservato a pochissimi, chiuso e maleodorante, in cui si accumulano tutte le ricchezze e la spazzatura della società.</p>
				
				<p>Costoro, di ogni colore, si servono di fredde ideologie, tutt’altro che agonizzanti, per venderci un concetto di giustizia strumentale ai loro interessi economici e di potere. Nella realtà, le cose continuano a funzionare solamente a favore dei loro sporchi comodi; e la maggior parte della gente lotta per sopravvivere. Siamo diventati sudditi, talvolta schiavi, che lavorano duramente tutta la vita per mantenere lo status quo burocratico e un’esigua banda di privilegiati.</p>  
				<p>Mentre l’unico privilegio a noi concesso è stare a guardare questi pochi potenti, ricchi e famosi chiusi nella loro teca di vetro televisiva; e guai se ci avviciniamo troppo.</p>
				
				<p>Dietro costrutti ideologici obsoleti, che portano il nome di fascismo, liberismo, marxismo, terzomondismo, si nascondono meccanismi oliati per indurci a credere che il bene comune si possa rintracciare soltanto in un favoloso eden mondiale di benessere economico o, al contrario, di egualitarismo incondizionato, pauperismo santificante.</p> 
				<p>Ha senso professarsi liberisti, marxisti, progressisti, post-fascisti di fronte ad istanze completamente nuove? Ricorriamo a termini usurati per sostenere la forza del domani. Siamo patetici.  Non è lecito chiedersi, al contrario, se il ricorso a certi schemi ideologici sorpassati non faccia parte di una strategia di conservazione?  E’ in questo modo che i tiranni tengono al giogo i popoli, mantenendo le bocce ferme.</p>
				<p>Oppure provocando paure continue, insicurezze diffuse sulla platea dei sudditi.</p>
				
				<p>Al contempo, le cellule cancerogene delle vecchie ideologie celano corrosive trappole destinate a erodere le tradizioni locali, spezzare le radici, svuotare di senso i legami comunitari più veri: quali la famiglia, le associazioni intermedie, la terra d’origine.</p> 
				
				<p>In tal modo ci ritroviamo soli e oppressi, ci dibattiamo come pesci nella rete in balìa di potentati intoccabili, da noi così distanti da non poterli nemmeno sfiorare, mettere in discussione, rivoluzionare. Organizzazioni sovranazionali, multinazionali private, Comunità europea, lo Stato burocratico stesso, le amministrazioni locali sono diventati nemici da cui difendersi, entità mastodontiche e impersonali di fronte alle quali, se presi singolarmente, siamo mosche, insignificanti pidocchi disarmati.</p> 
				
				<p>Tutti i giorni ci troviamo a lottare contro decisioni per lo più irrazionali prese in luoghi lontani, da uomini sconosciuti che ignorano le nostre reali esigenze, i bisogni elementari che contraddistinguono la nostra vita quotidiana, le nostre usanze e i nostri valori.</p> 
				
				<p>Il voto e la tassazione resterebbero i soli momenti di presunta partecipazione alla vita collettiva; ma in realtà sono ormai svuotati di senso anch’essi e somigliano sempre più a prese in giro, con le liste elettorali decise nei palazzi e i prelievi fiscali indiscriminati, caotici, oppressivi.</p> 
				
				<p>Siamo soli di fronte ai moloch, questa è la verità; e abbiamo accettato, consciamente, di esserlo.</p>
				 
				<p>Noi oggi rifiutiamo con forza questo stato di cose. Siamo infatti giunti al punto di non ritorno, per evitare che la nave affondi dobbiamo agire subito, ritrovare una socialità diversa e più coesa, in grado di affrontare la crisi psicologica, culturale ed economica che ci affligge con strumenti adeguati ai tempi; andare alla ricerca di un’umanità più profonda e condivisa, di formule politiche innovative, di energie nascoste e della perduta autostima. Elaborare infine un nuovo concetto di economia, rispettoso delle persone e del bene collettivo.</p>
				
				<p>Per noi, che nell’oggi viviamo, che non sappiamo stare alla greppia della sudditanza, che vogliamo ridare gusto all’esistenza, che ragioniamo con la nostra testa, che non temiamo la 
				<p>tecnologia, che crediamo nel futuro, la strada da costruire insieme e poi percorrere porta il nome di “Perfezionismo” e ha le caratteristiche di una rivoluzione che viene dal basso, governata dalla gente, per la gente. Dobbiamo ritrovare il passo dell’intelligenza, riprenderci la nostra vita ad ogni costo e possiamo farlo soltanto noi, a dispetto di governanti corrotti o mediocri, di un sistema bloccato che inibisce ogni tentativo di cambiamento e di una classe dirigente avida e autoreferenziale. Ciascuno può farlo nella propria città, unendosi ad altri uomini che condividono con lui idee e tradizioni comuni.</p>
				<p>La nostra deve essere una Rivoluzione intelligente. Uniamo le forze e il domani sarà nostro!</p>
				<p><span><a class="close" style="font-size:16px" href="#" title="Chiudi">Chiudi</a></span></p>	
				</div>
			</div>
		</div>
		<div id="comments">
			<fb:comments href="http://maurizio-gregorini.appspot.com/facebook/welcome" num_posts="10" width="500"></fb:comments>
		</div>
	</div>
	<div id="credits">
		Page powered by GBC and developed by <a style="font-size:14px;" href="http://www.baruffaldi.info" title="Filippo Baruffaldi">Filippo Baruffaldi</a>
	</div>
    <script>
    $(".content div").hide();

    $(".content h3").mouseover(function(e){
    	$(e.srcElement).animate({paddingLeft:'16px'}, 500)
    });
    $(".content h3").mouseout(function(e){
    	$(e.srcElement).animate({paddingLeft:'7px'}, 500)
    });
    $(".content h3").click(function(e){
    	$(e.srcElement.nextElementSibling).toggle(1000);
    	//$(e.srcElement).effect("shake", {}, 1000);
    });
    $(".close").click(function(e){
    	$(e.srcElement.parentNode.parentNode.parentNode).toggle(1000);
    });
//     var colors = [/* "0","1","2","3",
//                   "4","5","6","7", 
//                   */"8","9", "a","b",
//                   "c","d" /*,"e","f"*/ ];
//     $(".content").each(function(i, el){
//     	var rand = Math.floor(Math.random()*5);
//     	var color = colors[rand];
//     	var invertedcolor = colors[16-rand];
    	
//     	var tmp = colors[Math.floor(Math.random()*7)]+colors[Math.floor(Math.random()*7)]+colors[Math.floor(Math.random()*7)];
//     	var inverted = new String(1000 - parseInt(tmp));
//    	$(el).css('background-color','#'+color+color+color);
//     	$(el).css('background-color','#'+tmp+tmp);
//     	$(el).children('h3').css('text-shadow','1px 1px 1px #'+invertedcolor+invertedcolor+invertedcolor);
//     });
    </script>
    
    <div id="fb-root" style="text-align:center"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
                 xfbml: true});
        FB.Canvas.setAutoResize();
      };
      (function() {
        var e = document.createElement('script');
        e.type = 'text/javascript';
        e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
        e.async = true;
        document.getElementById('fb-root').appendChild(e);
      }());
    </script>
{% endblock %}